#headerDiv{
    text-align: center;
    background-color: black;
    color:white;
 }
 table {
   border-collapse: collapse;
   width: 100%;
 }
 td, th{
   border-bottom: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
 }
 .container{
    border: 1px solid grey;
 }
 input:not([type=submit]) {
    width: 100%;
 }
 h5{
    background-color: lightgrey;
    padding: 8px;
 }